@size: 6px;

._local {
      width: 15*@size;
      height: 15*@size;
      padding: 2*@size;
      border: @size solid var(--color_text);

      &:hover {
            opacity: 1;
      }

      :global {
            .block {
                  width: @size;
                  height: 100%;
                  background-color: var(--color_text);
            }
      }
}